h1 {
  text-transform: uppercase;
  text-shadow: red 2px -2px 5px;
}

h1 .great-scott {
  font-style: italic;
}

h1 {
  margin-bottom: 8px
}

h1, h2, h3 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

h2 {
  font-size: 1.5em;
}

ul {
  font-weight: bold;
  list-style: disc;
  padding-left: 20px
}

.strapline {
  font-weight: bold;
  color: #555555;
}

.contact dt, .contact dd {
  font-weight: bold;
  display: inline-block;
  margin: 4px;
}

.copyright {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
  font-weight: bold;
  font-size: 0.8em;
}

.container {
  max-width: 800px;
}

.main {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
